[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"

[packages]
pulumi = ">=2.0.0"
pulumi-azure = ">=3.0.0"
pulumi-cloudflare = ">=2.0.0"
azure-storage-blob = ">=12.3.0"

[requires]
python_version = "3.7"
