---
import type { PostPreview } from "@/components/Blog/types.ts"
import { Container } from "@/components/Container.tsx"
import PostCard from "@/components/Blog/PostCard.astro"
import { PostsPager } from "@/components/Blog/PostsPager.tsx"

interface Props {
  posts: PostPreview[]
  pager: {
    total: number
    currentPage: number
  }
}

const { posts, pager } = Astro.props
---

<Container className="mt-16 sm:mt-32">
  <div>
    <h1
      class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
    >
      Blog
    </h1>
    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
      Actively writing about technology, life-events and indie hacking. Here are
      some of my most recent thoughts and hacks I've published.
    </p>
  </div>
  <div class="flex-1 py-5">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
      <div class="col-span-6 sm:col-span-6">
        <div class="flex flex-col">
          <ul class="flex flex-col gap-3" transition:name="blog-posts">
            {
              posts.map((post) => (
                <li>
                  <PostCard post={post} />
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <PostsPager
        className="col-span-6 sm:col-span-6"
        total={pager.total}
        currentPage={pager.currentPage}
      />
    </div>
  </div>
</Container>
