---
import type { PostPreview } from "./types"
import { HeadingOne, Paragraph } from "../../components/Typography"
import PostsList from "./PostsList.astro"
import { PostsPager } from "../../components/Blog/PostsPager"

interface Props {
  posts: PostPreview[]
  pager: {
    total: number
    currentPage: number
  }
}

const { posts, pager } = Astro.props
---
<div class="max-w-6xl w-full flex flex-col flex-1 mx-auto px-4 md:px-0 py-14">
  <HeadingOne className="pb-8 text-center">Blog</HeadingOne>
  <Paragraph className="pb-8 text-center">
    Actively writing about technology, life-events and indie hacking. Here are
    some of my most recent thoughts and hacks I&#39;ve published.
  </Paragraph>
  <PostsList posts={posts} />
  <PostsPager {...pager} />
</div>
