---
import { ImageTransform } from "astro"
import { getImage } from "astro:assets"

interface Props {
  image: ImageTransform
}
---

<div
  class="w-full h-24 md:h-56 opacity-80 dark:opacity-40 bg-center bg-cover rounded-2xl"
  style={`background-image: url(${Astro.props.image.src})`}
>
</div>
