---
import { ImageTransform } from "astro"

interface Props {
  image: ImageTransform
}
---

<div
  class="w-full h-24 md:h-56 opacity-80 dark:opacity-40 bg-center bg-cover rounded-2xl"
  style={`background-image: url(${Astro.props.image.src})`}
  data-pagefind-meta={`cover:${Astro.props.image.src}`}
>
</div>
