---
import type { ImageTransform } from "astro"

interface Props {
  image: ImageTransform
}
---

<div class="w-full relative">
  <img
    class="w-full h-28 md:h-64 opacity-80 dark:opacity-40 bg-center object-cover rounded-2xl"
    src={`${Astro.props.image.src}`}
    data-pagefind-meta={`cover:${Astro.props.image.src}`}
  />
</div>
