---
import { SEO } from "astro-seo"
import type { Props as SEOProps } from "astro-seo"

import "../styles/global.css"
import Header from "@/components/Header.astro"
import { QuickSearch } from "@/components/QuickSearch"
import { Footer } from "@/components/Footer"

interface Props {
  title?: string
  description?: string
  openGraph?: SEOProps["openGraph"]
  twitter?: SEOProps["twitter"]
  extend?: SEOProps["extend"]
}

const { title, description, openGraph, twitter, extend } = Astro.props
---

<html class="h-full antialiased" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="author" content="Nick Van Dyck" />
    <link rel="shortcut icon" href="/favicon.png" />

    <meta name="viewport" content="width=device-width, initia-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title ?? "Nick Van Dyck"}
      titleTemplate="%s - nvd.codes"
      description={description}
      openGraph={openGraph ?? {
        basic: {
          title: "Nick's blog.",
          type: "website",
          url: "https://nvd.codes",
          image: "",
        },
      }}
      twitter={twitter}
      extend={extend}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script is:inline>
      function updateMode() {
        const isSystemDarkMode = darkModeMediaQuery.matches
        const isDarkMode =
          window.localStorage.isDarkMode === "true" ||
          (!("isDarkMode" in window.localStorage) && isSystemDarkMode)

        if (isDarkMode) {
          document.documentElement.classList.add("dark")
        } else {
          document.documentElement.classList.remove("dark")
        }

        if (isDarkMode === isSystemDarkMode) {
          delete window.localStorage.isDarkMode
        }
      }

      function disableTransitionsTemporarily() {
        document.documentElement.classList.add("[&_*]:!transition-none")
        window.setTimeout(() => {
          document.documentElement.classList.remove("[&_*]:!transition-none")
        }, 0)
      }

      function updateModeWithoutTransitions() {
        disableTransitionsTemporarily()
        updateMode()
      }

      const darkModeMediaQuery = window.matchMedia(
        "(prefers-color-scheme: dark)",
      )

      updateMode()
      darkModeMediaQuery.addEventListener(
        "change",
        updateModeWithoutTransitions,
      )
      window.addEventListener("storage", updateModeWithoutTransitions)
    </script>
  </head>
  <body class="flex h-full flex-col bg-zinc-50 dark:bg-zinc-950">
    <QuickSearch client:only="react" />
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div
          class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
        >
        </div>
      </div>
    </div>
    <div class="relative">
      <Header />
      <main class="w-full max-w-full">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
