---
import { ToolsSection, Tool } from "@/components/Uses/Tools"
---

<div class="space-y-20">
  <ToolsSection title="Workstation">
    <Tool title="14” InfinityBook S14 - Gen6">
      My personal computing device. I mostly use it for some lightweight
      browsing or the occasional personal project. It has an Intel Core
      i7-1165G7, 40Gb's of RAM and a 1TB SSD. I solely run Linux on this device,
      and for the past two years, I've been enjoying PopOS!
    </Tool>
    <Tool title="16” MacBook Pro, i7, 32GB RAM (2019)">
      Probably one of the last intel-based Macbooks ever made. This is what I
      use for work on a day-to-day basis. I've heard lots of great stuff about
      the new M1 Macbooks. But my workflow still requires an Intel CPU, so I
      hope to keep rocking this machine for a few more years. The worst thing
      about this device is that it has a touch bar, which is an absolute
      disaster to use effectively.
    </Tool>
    <Tool title="Logitech MX Master 3S, Wireless Mouse">
      For the longest time, I was using an Apple Magic Mouse. I got it for free,
      so why not use it? I only cared a little about input devices, so I stuck
      with the Apple mouse or the trackpad on my laptop. But boy did I miss out;
      this Logitech mouse is an absolute joy to use.
    </Tool>
    <Tool title="Keychron K8 Pro, Mechanical Keyboard">
      This is my first mechanical keyboard ever and is a real joy to type on.
      I've got the ISO UK layout with Pre-lubed Gateron G Pro Brown switches.
    </Tool>
  </ToolsSection>
  <ToolsSection title="Development tools">
    <Tool title="NeoVim">
      I moved back to Vim at the beginning of 2023 after watching the
      Primeagen's Neovim from scratch Video. I got my NeoVim tuned just the way
      I like and got LSPs for all the languages I work in daily. Look at my
      <a
        href="https://github.com/vandycknick/dotfiles"
        class="font-medium text-teal-500">dotfiles</a
      > for a little peek at my configuration.
    </Tool>
    <Tool title="Visual Studio Code">
      This has been my editor of choice for ages; I started using it when
      TypeScript and JavaScript were all the languages it supported. Nowadays, I
      have it installed as a backup for when my Vim knowledge isn't immediately
      cutting it.
    </Tool>
  </ToolsSection>
  <ToolsSection title="Productivity">
    <Tool title="Obsidian">
      I've used many note-taking apps, from OneNote to Notion, over the years.
      Nowadays, I've settled on Obsidian. I love the simplicity it brings to
      note-taking and allowing my notes to stay private. It's my new second
      brain!
    </Tool>
    <Tool title="Thunderbird">
      A really old email client that I always keep coming back to. Not much to
      say about it other than that it works (kinda).
    </Tool>
  </ToolsSection>
</div>
